/* changes all in the whole html page */
*{
  font-family: courier;
  font-size: 101%;
}
a:link{
  color: red;
}
a:visited{
  color: palegreen;
}
body{
  background-image: url(https://i.pinimg.com/originals/79/7f/ea/797fea56f2fe8235f1be79a0d26e03a9.gif);
}
/*
   falling sparkles
   https://i.pinimg.com/originals/79/7f/ea/797fea56f2fe8235f1be79a0d26e03a9.gif
   normal sparkle
   https://66.media.tumblr.com/010c46067b29b710ce9a508fb4171dfb/tumblr_inline_n1ubnjJXdz1qmvw6b.gif
*/

/* aligns the inner content div class */
.innerContent{
  color: white;
  width: 70%;
  text-align: center;
  margin: auto;
}
.pcontent{

}
.desc{
  padding: 20px;
  background: rgba(255, 250, 217, 0.2);
  border-radius: 20px;
}
/* sets the color of bolded text to 'tomato' */
b{
  color: tomato;
}
/* changes the opacity of the hidden wizard block when hovered over */
#wiz{
  opacity:0;
  color: tomato;
  padding: 20px;
  font-weight: 400;
}
#wiz:hover{
  opacity: 1;
}
